.input{
    width: 500px;
    height: 40px;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 22px;
}

@media (max-width: 768px)  {
    .input{
        width: 200px; 
        height: 30px;

    }
}