.repos-heading {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
  margin-top: 30px;
}
.pagination {
  padding-inline-start: 0;
  height: 30px;
  list-style: none;
  display: flex;
  justify-content: right;
  margin-top: 24px;
}

.pagination a {
  padding: 5px;
  margin-left: 16px;
  border-radius: 5px;
  color: #808080;
  cursor: pointer;
}

.pagination a:hover {
  color: white;
  background: #0064eb;
  border-radius: 3px;
}

.active a {
  color: white;
  background: #0064eb;
  border-radius: 3px;
}

.paginationDisabled a {
  color: grey;
  background-color: grey;
}

.page-info {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #808080;
}
.paginations-wrap {
  width: 95%;
  display: flex;
  justify-content: right;
  align-items: center;
}
@media (max-width: 768px) {
  .repos-heading {
    font-size: 24px;
  }
  .paginations-wrap {
    flex-direction: column;
    padding-top: 15px;
  }
}
