.repo {
  background-color: #fff;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 0 24px 32px;
}

.repo-header {
  margin-bottom: 16px;
}

.repo-link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}
.repo-description {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

@media (max-width: 768px)  {
  .repo-header {
    margin-bottom: 12px;
  }
.repo{
  margin-top: 10px;
  padding: 10px 0 10px 16px;
}
  .repo-link {
    font-size: 16px;
    line-height: 19px;
  }
}
